In [1]:
import pandas as pd
import numpy as np

el = pd.read_excel('C:\\Users\\welcome\\Downloads\\access_to_electricity_ps.xlsx',header = 3)
dw = pd.read_excel('C:\\Users\\welcome\\Downloads\\access_to_drinking_water.xlsx',header = 3)
ss = pd.read_excel('C:\\Users\\welcome\\Downloads\\access_to_single_sanitation.xlsx',header = 3)
pt = pd.read_excel('C:\\Users\\welcome\\Downloads\\pupil_to_teacher_ratio.xlsx',header = 3)

In [2]:
el.drop(el.index[0:131],inplace = True )
el.drop(el.index[8:],inplace = True )
el.drop(el.columns[[0,2]], axis = 1, inplace=True)
el.rename(columns = {'Unnamed: 1':'Country'},inplace=True)
el = el.fillna(0)
el = el.replace('..',0)
for index,row in el.iterrows():
    if row['2017'] != 0:
        el.loc[(index),('Final')] = row['2017']
    elif row['2016'] != 0:
        el.loc[(index),('Final')] = row['2016']   
    elif row['2015'] != 0:
        el.loc[(index),('Final')] = row['2015']  
    elif row['2014'] != 0:
        el.loc[(index),('Final')] = row['2014']          
    elif row['2013'] != 0:
        el.loc[(index),('Final')] = row['2013']  
    else:
        el.loc[(index),('Final')] = row['2012']
        
el.head(10)

,Country,2012,2013,2014,2015,2016,2017,2018,Final
131,World,66.4,67.1,67.7,68.4,69.0,69.10,0,69.10
132,Arab States,0.0,0.0,0.0,91.4,91.9,92.00,0,92.00
133,Europe,0.0,0.0,0.0,0.0,0.0,100.00,0,100.00
134,Central Asia,0.0,0.0,0.0,0.0,100.0,100.00,0,100.00
135,East Asia and Pacific,78.7,0.0,80.8,81.9,83.0,84.10,0,84.10
136,America,0.0,0.0,0.0,86.1,86.7,93.25,0,93.25
137,South and West Asia,49.0,49.5,50.0,50.4,50.6,50.70,0,50.70
138,Sub-Saharan Africa,0.0,0.0,0.0,34.3,34.5,35.10,0,35.10

In [3]:
dw.drop(dw.index[0:102],inplace = True )
dw.drop(dw.index[8:],inplace = True )
dw.drop(dw.columns[[0,2]], axis = 1, inplace=True)
dw.rename(columns = {'Unnamed: 1':'Country'},inplace=True)
dw=dw.fillna(0)
dw = dw.replace('..',0)
for index,row in dw.iterrows():
    if row['2017'] != 0:
        dw.loc[(index),('Final')] = row['2017']
    elif row['2016'] != 0:
        dw.loc[(index),('Final')] = row['2016']   
    elif row['2015'] != 0:
        dw.loc[(index),('Final')] = row['2015']  
    elif row['2014'] != 0:
        dw.loc[(index),('Final')] = row['2014']          
    elif row['2013'] != 0:
        dw.loc[(index),('Final')] = row['2013']  
    else:
        dw.loc[(index),('Final')] = row['2012']
        
dw.head(10)

                   Country  2012  2013  2014   2015   2016  2017  2018  Final
102                  World     0     0     0   83.4   83.5  83.7     0   83.7
103            Arab States     0     0     0    0.0   91.7  92.8     0   92.8
104                 Europe     0     0     0   96.5   96.5  96.5     0   96.5
105           Central Asia     0     0     0    0.0    0.0  88.2     0   88.2
106  East Asia and Pacific     0     0     0   81.7   81.8  81.4     0   81.4
107                America     0     0   100  100.0  100.0   0.0     0  100.0
108    South and West Asia     0     0     0   86.5   86.8  87.7     0   87.7
109     Sub-Saharan Africa     0     0     0   49.9   50.2   0.0     0   50.2

In [4]:
ss.drop(ss.index[0:88],inplace = True )
ss.drop(ss.index[8:],inplace = True )
ss.drop(ss.columns[[0,2]], axis = 1, inplace=True)
ss.rename(columns = {'Unnamed: 1':'Country'},inplace=True)
ss = ss.fillna(0)
ss = ss.replace('..',0)

for index,row in ss.iterrows():
    if row['2017'] != 0:
        ss.loc[(index),('Final')] = row['2017']
    elif row['2016'] != 0:
        ss.loc[(index),('Final')] = row['2016']   
    elif row['2015'] != 0:
        ss.loc[(index),('Final')] = row['2015']  
    elif row['2014'] != 0:
        ss.loc[(index),('Final')] = row['2014']          
    elif row['2013'] != 0:
        ss.loc[(index),('Final')] = row['2013']  
    else:
        ss.loc[(index),('Final')] = row['2012']
ss.head(20)

                  Country  2012  2013  2014   2015   2016   2017  2018  Final
88                  World     0     0     0   87.1   86.7   86.5     0   86.5
89            Arab States     0     0     0   92.0   92.1   93.3     0   93.3
90                 Europe     0     0     0    0.0  100.0  100.0     0  100.0
91           Central Asia     0     0     0    0.0    0.0   91.3     0   91.3
92  East Asia and Pacific     0     0     0    0.0   75.1   75.0     0   75.0
93                America     0     0   100  100.0  100.0    0.0     0  100.0
94    South and West Asia     0     0     0   91.5   91.2   90.9     0   90.9
95     Sub-Saharan Africa     0     0     0   95.4   71.4   71.6     0   71.6

In [5]:
pt.drop(pt.index[0:265],inplace = True )
pt.drop(pt.index[8:],inplace = True )
pt.drop(pt.columns[[1]], axis = 1, inplace=True)
pt.rename(columns = {'Time':'Country'},inplace=True)
pt = pt.fillna(0)
pt = pt.replace('..',0)

for index,row in pt.iterrows():
    if row['2017'] != 0:
        pt.loc[(index),('Final')] = row['2017']
    elif row['2016'] != 0:
        pt.loc[(index),('Final')] = row['2016']   
    elif row['2015'] != 0:
        pt.loc[(index),('Final')] = row['2015']  
    elif row['2014'] != 0:
        pt.loc[(index),('Final')] = row['2014']          
    elif row['2013'] != 0:
        pt.loc[(index),('Final')] = row['2013']  
    else:
        pt.loc[(index),('Final')] = row['2012']

In [6]:
import plotly.graph_objs as go
import plotly.offline as py
from plotly import tools

trace = go.Bar(
    x=pt.Country,
    y=pt.Final,
    marker=dict(
        color = pt.Final,
        colorscale='Reds')
#         showscale=True)

)

trace1 = go.Bar(
    x=dw.Country,
    y=dw.Final,
    marker=dict(
        color = dw.Final,
        colorscale='Blues',
        reversescale = True)
#         showscale=True)
)

trace2 = go.Bar(
    x=el.Country,
    y=el.Final,
    marker=dict(
        color = el.Final,
        colorscale='Greys',)
#         reversescale = True)
#         showscale=True)
)

trace3 = go.Bar(
    x=ss.Country,
    y=ss.Final,
    marker=dict(
        color = ss.Final,
        colorscale='Greens',
        reversescale = True)
#         showscale=True)
)

fig = tools.make_subplots(rows=2, cols=2, subplot_titles=('Pupil to Teacher ratio', 
                                                          'Access to Drinking Water',
                                                          'Access to Electricity',
                                                          'Access to Single-Sex Basic Sanitation'
                                                          ))
fig.append_trace(trace, 1,1)
fig.append_trace(trace1, 1,2)
fig.append_trace(trace2, 2,1)
fig.append_trace(trace3, 2,2)

fig['layout'].update(height=650, width=1100, title='Factors affecting to Education System', 
                     showlegend=False)                        
py.plot(fig)

# data = [trace,trace1, trace2,trace3]
# layout = go.Layout(barmode = "group")
# fig = go.Figure(data = data, layout = layout)
# py.plot(fig)

This is the format of your plot grid:
[ (1,1) x1,y1 ]  [ (1,2) x2,y2 ]
[ (2,1) x3,y3 ]  [ (2,2) x4,y4 ]

'file://C:\\Users\\welcome\\temp-plot.html'